name: Publish site

on:
  push:
    branches:
      - source

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source branch
        uses: actions/checkout@v3
        with:
          ref: source
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
      - name: Change to yarn v4
        run: |
          corepack enable
          corepack install yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build site
        run: |
          hexo clean
          hexo generate
      - name: Deploy to GitHub Pages
        run: hexo deploy
