name: Publish site

on:
  push:
    branches:
      - source

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source branch
        uses: actions/checkout@v3
        with:
          ref: source
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
      - name: Install dependencies
        uses: borales/actions-yarn@v4
        with:
          cmd: install
      - name: Build site
        run: |
          hexo clean
          hexo generate
      - name: Deploy to GitHub Pages
        run: hexo deploy
